@media only screen and(min-width:46.69em){
    body .about-container {
        padding: 0;
        margin-top: 4em;
        width: 100%;
        min-height: 70vh;
        display: grid;
        place-items: center;
        background-image: url("../images/vegetable_table.png");
        background-position: 10%;
        background-repeat: no-repeat;
        background-size: 30em;
        .left-col {
          margin-left: auto;
          p{
             
              width: 80%;
            
          }
          p:nth-child(3){
              color: #383833;
          }
    
         
          .btn {
            padding: 0.8em 0.8em 0.8em 1.5em;
          }
        }
    
        &::after {
            position: absolute;
            left: -30vh;
            top: -5vh;
            z-index: -1;
            width: 75vh;
            height: 70vh;
            background-color: #598463;
            border-radius: 50%;
            background-image: none;
        }
      }
    

}
