@media only screen and(min-width:1100px){
    body .about-container {
        padding: 0;
        margin-top: 4em;
        width: 100%;
        min-height: 70vh;
        display: grid;
        place-items: center;
        background-image: url("../images/vegetable_table.png");
        background-position: 10%;
        background-repeat: no-repeat;
        background-size: 30em;
        .left-col {
          margin-left: auto;
          p{
             
              width: 80%;
            
          }
          p:nth-child(3){
              color: #383833;
          }
    
         
          .btn {
            padding: 0.8em 0.8em 0.8em 1.5em;
          }
        }
    
        &::after {
            position: absolute;
            left: -30vh;
            top: -7vh;
            z-index: -1;
            width: 75vh;
            height: 70vh;
            background-color: #598463;
            border-radius: 50%;
            background-image: none;
        }
      }

     body .paprika{
        display: block;
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 20%;
        height: 33%;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;
        background-image: url('../images/background_picture2.png');
    }
    

}
