header{
justify-content: space-between;
  align-items: center;
  display: flex;
 
  width: 100%;
  padding: 2em;
  min-height: 8vh;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;

  margin: auto;

}