@media only screen and (max-width:1022px){
    .overlay {
      position: fixed;
      z-index: 3;
     
      width: 100%;
      height: 20em;
      padding: 2em;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
     
      transform: translateY(-100%);
      .close {
        position: absolute;
        top: 2em;
        right: 3em;
        width: 3em;
        height: 3em;
        cursor: pointer;
        z-index: 10;
      }
    
     
    
      img {
        width: 8em;
       
      }
    
      .overlay-list{
          list-style-type: none;
        text-align: center;
        display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
          li{
              color: black;
              font-size: 2rem;
              
              padding: .6em 0;
              :first-of-type{
                padding-top: .5em;
              }
         
              a{
                  text-decoration: none;
                  color: black;
              }
          }
      }
    }  
  }
  
  @media only screen and (min-width:1024px){
    .overlay{
      display: none;
    }
  }
  
  