@media only screen and(min-width:29.62em) {
  body .hero {
    background: transparent
      linear-gradient(180deg, #def0d8 0%, var(--unnamed-color-fafafa) 100%) 0%
      0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #def0d8 0%, #fafafa 100%) 0%
      0% no-repeat padding-box;
    &__container {
      &::after {
        width: 90vh;
        height: 90vh;
        z-index: 0;
        top: -20vh;
        right: -30vh;
      }
    }
    .left-col {
      width: 50%;

      h1 {
        margin-bottom: 0.2em;
        color: black;
      }

      p {
        color: #383833;
      }

      .btn {
        padding: 0.8em 0.8em 0.8em 1.5em;
      }
    }
  }

  body .about-container {
    margin-top: 4em;
    width: 100%;
    height: 70vh;
    display: grid;
    place-items: center;
    background-image: url("../images/vegetable_table.png");
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 30em;
    .left-col {
      margin-left: auto;
      p{
          font-size: clamp(1rem,5vw,1.8rem);
          width: 80%;
        
      }
      p:nth-child(3){
          color: #383833;
      }

      h2{
        font-size: clamp(1rem,5vw,3rem)
      }

      .btn {
        padding: 0.8em 0.8em 0.8em 1.5em;
      }
    }

    &::after {
        osition: absolute;
        left: -23vh;
        top: -5vh;
        z-index: -1;
        width: 75vh;
        height: 70vh;
        background-color: #598463;
        border-radius: 50%;
        background-image: none;
    }
  }
}
