@media only screen and(min-width:29.62em){
     body .hero{
        background: transparent linear-gradient(180deg, #DEF0D8 0%, var(--unnamed-color-fafafa) 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #DEF0D8 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
        &__container{
            &::after {
                width: 90vh;
                height: 90vh;
                z-index: 0;
                top: -20vh;
                right: -30vh;
                
                
            }
        }
        .left-col{
            width: 50%;
           
            h1{
                margin-bottom: .2em;
                color: black;
            }

            p{
                color: #383833;
            }

            .btn{
                padding: .8em .8em .8em 1.5em ;
            }


    }

    
   
    }
    .about-container {
        margin-top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/vegetable_table.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 50% ;
        .left-col{
            margin-left: auto;
        }

        &::after{
            position: absolute;
            right: -48%;
            top: 0%;
            z-index: -1;
            width: 100%;
            height: 118%;
            background-image: url("../images/vegetable_table.png");
            background-position: 100% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
  
}