@media only screen and(min-width:29.62em){
     body .hero{
        &__container{
            &::after {
                width: 100% ;
                height: 100% ;
                right: 0 ;
                top: 0 ;
                left: 50%;
            }
        }
    }

    .about-container .left-col{
        margin-left: auto;
    }
    .hero__container{
          .left-col{
        h1,p{
            color: black;
        }
    }
    }
  
}