@media only screen and(min-width:29.62em){
    .hero__container::after{
        width: 150vw !important;
        height: 150vw !important;
        
    }

    .about-container .left-col{
        margin-left: auto;
    }
}