@media only screen and(min-width:29.62em) {
  body .hero {
    background: transparent
      linear-gradient(180deg, #def0d8 0%, var(--unnamed-color-fafafa) 100%) 0%
      0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #def0d8 0%, #fafafa 100%) 0%
      0% no-repeat padding-box;
    &__container {
      &::after {
        width: 90vh;
        height: 90vh;
        z-index: 0;
        top: -20vh;
        right: -30vh;
      }
    }
    .left-col {
      width: 50%;

      h1 {
        margin-bottom: 0.2em;
        color: black;
      }

      p {
        color: #383833;
      }

      .btn {
        padding: 0.8em 0.8em 0.8em 1.5em;
      }
    }
  }

  body .about-container {
    margin-top: 0;
    width: 100%;
    height: 70vh;
    display: grid;
    place-items: center;
    background-image: url("../images/vegetable_table.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    .left-col {
      margin-left: auto;
    }

    &::after {
      position: absolute;
      left: 0;
      top: 0%;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: #387546;
      border-radius: 50%;
      background-image: none;
    }
  }
}
