@media only screen and(min-width:29.62em){
     body .hero{
        background: transparent linear-gradient(180deg, #DEF0D8 0%, var(--unnamed-color-fafafa) 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #DEF0D8 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
        &__container{
            &::after {
                width: 90vh;
                height: 90vh;
                z-index: 0;
                top: -20vh;
                right: -30vh;
                
                
            }
        }
        .left-col{
            h1,p{
                color: black;
            }


    }

    
   
    }
    .about-container {
        margin-top: 0;
        .left-col{
            margin-left: auto;
        }
    }
  
}