@media only screen and(min-width:29.62em){
    .hero__container::after{
        width: 100vw ;
        height: 100vw;
        border-radius: 20%;
    }

    .about-container .left-col{
        margin-left: auto;
    }
}