@media only screen and(min-width:29.62em) {
  body .hero {
    &__container {
      &::after {
        // width: 100% ;
        // height: 100% ;
        // right: 0 ;
        // top: 0 ;
        // left: 50%;
        all: unset;
      }
    }
    .left-col {
      h1,
      p {
        color: black;
      }
    }

    .food-bg::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top:50%;
        right: 0;
        background-color: #387546;
        border-radius: 50%;
    }
  }
  .about-container .left-col {
    margin-left: auto;
  }
}
