@media only screen and(min-width:29.62em){
    .hero__container::after{
        width: 100% !important;
        height: 100% !important;
        right:0 !important;
        top: 0 !important;
        left: 50%;
    }

    .about-container .left-col{
        margin-left: auto;
    }

    .left-col{
        h1,p{
            color: black;
        }
    }
}