@media only screen and(min-width:29.62em){
     body .hero{
        &__container{
            &::after {
                // width: 100% ;
                // height: 100% ;
                // right: 0 ;
                // top: 0 ;
                // left: 50%;
                all: unset;
            }
        }
        .left-col{
            h1,p{
                color: black;
            }


    }

    .about-container .left-col{
        margin-left: auto;
    }
   
    }
  
}