@import "_header";
@import "_overlay";
@import "_mobile";

$primary-green:#387546;
$secondary-green:#598463;
$orange:#F19A33;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 800;
}