@import "_header";
@import "_overlay";

$primary-green:#387546;
$secondary-green:#598463;
$orange:#F19A33;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-weight: 400;
}