@import "_header";
@import "_overlay";
@import "_mobile";

$primary-green: #387546;
$secondary-green: #598463;
$orange: #f19a33;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

.hero {
  width: 100%;
  min-height: 73vh;
  // background: transparent
  //   linear-gradient(180deg, #def0d8 0%, var(--unnamed-color-fafafa) 100%) 0% 0%
  //   no-repeat padding-box;
  // background: transparent linear-gradient(180deg, #def0d8 0%, #fafafa 100%) 0%
  //   0% no-repeat padding-box;
  z-index: 1;
  position: relative;

  &__container {
    padding: 2em;
    height: 60vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;

    &::after {
      content: "";
      position: absolute;
      width: 294vw;
      height: 317vw;
      z-index: -1;
      top: -177vw;
      right: -137vw;
      background-color: #387546;
      border-radius: 50%;
    }
    .food-bg {
      background-image: url("../images/background+pict.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;

      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      right: -36%;
    }
    .left-col {
      width: 68%;
      z-index: 2;
      padding-top: 2em;
      h1 {
        color: white;
        margin-bottom: 0.7em;
      }
      p {
        color: white;
        margin-bottom: 2em;
        width: 70%;
      }
    }
  }
}

.btn {
  text-decoration: none;
  color: white;
  padding: 0.6em 0.6em 0.6em 1em;
  border-radius: 0.8em;
  display: inline-flex;
  align-items: center;
  &__gold {
    background-color: $orange;
  }

  &__green {
    background-color: $primary-green;
  }
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
}

.gold-accent {
  color: $orange;
}
.about-container {
  padding: 2em;
  margin-top: 10em;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: -48%;
    top: 0%;
    z-index: -1;
    width: 100%;
    height: 118%;
    background-image: url("../images/vegetable_table.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .left-col {
    width: 55%;
    p {
      margin-bottom: 0.5em;
    }
    h2 {
      margin-bottom: 0.5em;
      font-weight: 600;
    }
    .lead {
      margin-bottom: 1.5em;
    }
  }
}

.menu-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  p,
  h2 {
    margin-bottom: 0.5em;
  }
  .card {
    width: 100%;
    text-align: center;
    box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.45);
    margin-bottom: 2em;
    img {
      width: 100%;
      height: auto;
    }
    .row {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      width: 100%;
      h3 {
        font-weight: 600;
      }
    }
  }
}
